@import url("variables.css");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

body {
  min-height: 100vh;
  background: var(--gray-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

main {
  width: 96%;
  height: 580px;
  margin-top: 32px;
  background: var(--black-bg);
  border-radius: 20px;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

input {
  display: flex;
  width: 572px;
  height: 56px;
  padding: 16px 448px 16px 16px;
  align-items: center;
  border-radius: 16px;
  background: var(--White-High-emphasis, #fff);
  color: var(--Black-Medium-empathis, rgba(0, 0, 0, 0.6));
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.024px;
}

button[type="submit"] {
  display: flex;
  width: 572px;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  background: var(--Yellow-500, #f4ce47);
}
